.tasks-item__priority {
    font-size: 1rem;
    font-weight: normal;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.2rem;
    border-radius: 50px;
    width: 3.5rem;
}


@media (min-width: 580px) {
    .tasks-item__priority {
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
    }
}